.reservas {
    background-color: #93450B;
    height: 800px;

    .reservas_titulo {
        text-align: center;
        padding-top: 40px;

        h2 {
            font-size: 50px;
        }
    }

    .reservas_form {
        border: 2px solid #000;
        border-radius: 10px;
        -webkit-box-shadow: 10px 13px 30px 2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 13px 30px 2px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 13px 30px 2px rgba(0, 0, 0, 0.75);
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        background-color: #000;
        color: #93450B;
        h3 {
            font-size: 40px;
            text-align: center;
            margin-top: 40px;
        }

        form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            margin: 20px;

            div {
                margin: 5px;
                padding: 10px;
                label {
                    font-size: 20px;
                }
                input {
                    font-size: 20px;
                    margin-left: 5px;
                }
            }

            .form_date {
                text-align: center;
            }

            .form_button {
                text-align: center;
                button {
                    font-size: 20px;
                    border-radius: 20px;
                    padding: 10px;
                    background-color: #93450B;
                    border-color: #000;
                }
                button:hover {
                    background-color: #000;
                    border-color: #93450B;
                    color: #93450B;
                }
            }
        }
    }
}

.flex-responsive {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.errorForm {
    margin-left: 10px;
    width: auto;
    padding: 5px;
    background-color: #93450B;
    color: #000;
    border: 2px solid #000;
    display: none;
    text-align: center;
}

#confirmacion-formulario {
    display: none;
}