@media only screen and (max-width:991px) {
    .footer_logo {
        display: none;
    }

    .about>.about_img {
        display: none;
    }
    .about {
        justify-content: center;
    }
}

@media only screen and (max-width:500px) {
    #carrito {
        width: auto;
    }
    .reservas>.reservas_form{
        width: auto;
        margin-bottom: 50px;
    }
    .portada>.portada_titulo {
        width: 250px;
        p{
            font-size: 20px;
        }
        h1{
            font-size: 50px;
        }
    }
    footer{
        justify-content: space-between;
    }
    #seguridad {
        height: 100vh;
        .botones {
            margin-top: 0;
            flex-wrap: nowrap;
            button {
                margin: 10px;
                padding: 50px;
            }
        }
    }
}
