.tienda {
    background-color: #000;
    color: #93450B;

    .tienda_titulo {
        text-align: center;
        padding-top: 40px;

        h2 {
            font-size: 80px;
        }

        p {
            font-size: 20px;
            font-family: 'Poppins', sans-serif;
        }
    }

    img {
        height: 320px;
        width: 200px;

    }
}