@import "navbar";
@import "portada";
@import "about";
@import "tienda";
@import "reservas";
@import "footer";
@import "seguridad";
@import "carrito";
@import "responsive";

* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}


